<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" /> <!-- telling browser to use UTF-8 character encoding -->

  <title> BookWorm Books </title>

  <meta name="viewport" contents="width=device-width, initial-scale=1.0"> <!-- makes web page responsive-->
  <link rel="stylesheet" type="text/css" href="./CSS/main.css">

  <!-- used for menu icons hamburger icon, X and search -->
  <script src="https://kit.fontawesome.com/67c66657c7.js"></script>

</head>
<!--Checkbox to see if hamburger menu has been clicked-->
<input type="checkbox" id="check" class="navCheckbox">

<body>
  <!-- Navigation Bar-->
  <nav>
    <div class="logo">
      <img style="margin-bottom: -50px;" src="./images/logo.png" alt="" height="100px">
      <!--Bookworm logo-->
      BOOKWORM
    </div>

    <div class="search_box">
      <!--search bar in the navigation bar-->
      <input type="search" value="" id="search" placeholder="Type here to search..." onchange="findBook">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>

    <ol>
      <!--Navigation links -->
      <li><a href="index.html">HOME</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="books.html">BOOKS</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="reviews.html">REVIEWS</a></li>

    </ol>

    <label for="check" class="bar">
      <!--Use the font awesome kits bars(hamburger icon) and times(X) icon-->
      <span class="fa fa-bars" id="bars"></span>
      <span class="fa fa-times" id="times"></span>
    </label>

  </nav>

  <!-- Order using Vue-->

  <div id="orderForm" style="text-align: center;">
    <h1>Order Form</h1>
    <br>
    <br>
    <label for="firstName">First Name</label>
    <input type="text" v-model.lazy="firstName"></input> <!-- lazy delays input until user clicks off the input box -->
    <br>
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" v-model.trim="lastName"></input> <!-- trim removes leading whitespace -->
    <br>
    <br>
    <label for="phone">Phone Number</label>
    <input type="number" v-model.number="phone"></input> <!-- Number only allows number type-->
    <br>
    <br>
    <p>Entered First Name: {{firstName}}</p>
    <p>Entered Last Name: {{lastName}}</p>
    <p>Entered Phone number: {{phone}}</p>
    <br>
  </div>

  
  <div id="optionSelection" class="optionSelection" style=text-align:center;>  <!--Checkbox selection for the users to add addional option when placing an order -->
  <h3>Additional Order Options (Optional)</h3>
  <br>
    <input type="checkbox" id="Donate" value="Donate" v-model="checkedOptions"/> 
    <label for="Donate">Donate $2 to Charity </label>
    <br>
    <br>
    <br>
    <input type="checkbox" id="Newsletter" value="Newsletter" v-model="checkedOptions" />
    <label for="Newsletter">Sign up to our Newsletter</label>
    <br>
    <br>
    <br>
    <input type="checkbox" id="Gift" value="Gift" v-model="checkedOptions" />
    <label for="Gift">Gift wrap the book </label>
    <br>
    <br>
    <br>
    <span>Selected Options: {{ checkedOptions }}</span>
    <br>
    <br>
  </div>

  <div id="shippingSelection" style="text-align: center;">
    <h3> Shipping Selection</h3>
    <br>
    <select v-model="selected">

      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <br>
    <br>
    <span>Selected: {{ selected }}</span>
    <!--Display selected option-->
    <br>
    <br>
    <input class="button" type="submit" name="Submit Order" value="Submit Order" />
  </div>



  <!-- development version, includes helpful console warnings, Adding Vue JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="task4.js" charset="utf-8"></script> <!-- linking vue instance -->

  <!--Footer at the end of the webpage-->
  <div class="footer">
    <p>Bookworm © By using this website the user has agreed to all bookworms terms and conditions</p>
    <br>
    <p> Contact us </p>
    <p>Mobile No. 0491 570 157</p>
    <p>Tel. No. 1300 975 707</p>
  </div>

</body>

</html>