<!DOCTYPE html>

<html>

<head>
    <title> SIT120 Task 1.1</title>
    <link rel="stylesheet" href="practical1.css">
    <style>
        .done{
            text-decoration: line-through;
        }
    </style>


</head>

<body>
<main id ="app">
    <h1>{{title}}</h1>
    <form @submit.prevent="addTodo">
        <label for="NewToDo">New Todo</label>
        <input v-model="newtodo" type="text" name="newtodo" id="newtodo" value="" >
        <button type="submit" name="button" > Add </button>
    </form>
    <ol>
        <li v-for="todo in todos">
            <input type="checkbox" v-model="todo.done">
            <span :class="{ done: todo.done }">{{todo.title}}</span>
            <button @click="removeTodo(todo)" type="button">Remove</button>
        </li>
    </ol>
    

</main>
   
    <!--vue js code-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src ="todolist.js"></script>

    
</body>

</html>