* {
  box-sizing: border-box;
}

/* Make two equal columns that are side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px;
}


body {
  background-color:lightgray;
}

h1 {
  color:red;
  margin-left: 10px;

}