body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 5%;
  background-color: grey;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 18px;
  
}

li a.active {
  
  color: white;
  background-color: blue;
}

li a:hover:not(.active) {
  background-color:grey;
  color: white;
}