<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" /> <!-- telling browser to use UTF-8 character encoding -->

  <title> BookWorm Books </title> 

  <meta name="viewport" contents="width=device-width, initial-scale=1.0"> <!-- makes web page responsive-->
  <link rel="stylesheet" type="text/css" href="./CSS/main.css"> <!-- link to CSS -->

  <!-- used for menu icons hamburger icon, X and search -->
  <script src="https://kit.fontawesome.com/67c66657c7.js"></script>

</head>
<!--Checkbox to see if hamburger menu has been clicked-->
<input type="checkbox" id="check">

<body>
  <!-- Navigation Bar-->
  <nav>
    
    <div class="logo" >
      <!-- link to the home page when clicking on logo-->
      <a href="index.html" class="homeLink">
      <img style="margin-bottom: -50px;" src="./images/logo.png" alt="" height="100px">
      <!--Bookworm logo-->
      BOOKWORM
    </a>
    </div>
    
    <ol>
      <!--Navigation links -->
      <li><a href="index.html">HOME</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="books.html">BOOKS</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="reviews.html">REVIEWS</a></li>

    </ol>

    <label for="check" class="bar">
      <!--Use the font awesome kits bars (hamburger icon) and times(X) icon-->
      <span class="fa fa-bars" id="bars"></span>
      <span class="fa fa-times" id="times"></span>
    </label>

  </nav>
  <div class="contact">
    <script src="main.js"></script> <!--Link to main.js that has the google maps javascript function-->

    <!--Contact form-->
    <form  method="post" name="contact" id="contact" @submit.prevent="submitContactForm">
        <!--Use submitContactForm method in Vue to which logs the user enterd inforamtion -->
      <br>
      <br>
      <h1> Have a Question?</h1>
      <h2>Lets Get in Touch!</h2>
      <br>
      <p>We value feedback from all our customers. We try to respond to your feeback within 2-3 bussiness days. Thank
        you for your patience.</p>
      <br>
      <br>
      <label>First name</label>
      <input type="text" name="firstname" id="firstname" v-model="firstname">   <!--Using V-model create two-way data binding with all the contact fields-->
      <br>
      <br>
      <label>Last name</label>
      <input type="text" name="lastname" id="lastname" v-model="lastname">
      <br>
      <br>
      <label>eMail Address</label>
      <input type="email" name="email" id="email" v-model="email">
      <br>
      <br>
      <label>Phone Number</label>
      <input type="number" name="phone" id="phone" v-model="phone">
      <br>
      <br>
      <label>Subject</label>
      <input type="text" name="subject" id="subject" v-model="subject">
      <br>
      <br>
      <label></label>
      <h3> Write your message below </h3>
      <br>
      <textarea cols="30" rows="10" placeholder="Type a message" name="message"  id="message" v-model="message"></textarea>
      <br>
      <br>
      <input class="button" type="submit" name="Send" value="SEND" onclick="contactValidate()" />
      <br>
      <br>
    </form>
  </div>

  <!-- development version, includes helpful console warnings, Adding Vue JS --> 
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="contact.js" charset="utf-8"></script> <!-- linking vue instance -->

  <!--Footer at the end of the webpage, containing site map link-->
  <div class="footer">
    <img src="./images/bookfooter.png" style="height: 100px" width="100%">
    <p>Bookworm © By using this website the user has agreed to all bookworms terms and conditions</p>
    <br>
    <a href="sitemap.html">SITE MAP</a>
    <br>
    <br>
    <p> Contact us </p>
    <p>Tel. No. 1300 975 707</p>
  </div>
</body>

</html>