<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" /> <!-- telling browser to use UTF-8 character encoding -->

  <title> BookWorm Books </title>

  <meta name="viewport" contents="width=device-width, initial-scale=1.0"> <!-- makes web page responsive-->
  <link rel="stylesheet" type="text/css" href="./CSS/main.css"><!-- link to CSS -->

  <!-- used for menu icons hamburger icon, X and search -->
  <script src="https://kit.fontawesome.com/67c66657c7.js"></script>

</head>
<!--Checkbox to see if hamburger menu has been clicked-->
<input type="checkbox" id="check">

<body>
  <!-- Navigation Bar-->
  <nav>
    <div class="logo">
      <!-- link to the home page when clicking on logo-->
      <a href="index.html" class="homeLink">
        <img style="margin-bottom: -50px;" src="./images/logo.png" alt="" height="100px">
        <!--Bookworm logo-->
        BOOKWORM
      </a>
    </div>
    <ol>
      <!--Navigation links -->
      <li><a href="index.html">HOME</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="books.html">BOOKS</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="reviews.html">REVIEWS</a></li>
    </ol>
    
    <label for="check" class="bar">
      <!--Use the font awesome kits bars(hamburger icon) and times(X) icon-->
      <span class="fa fa-bars" id="bars"></span>
      <span class="fa fa-times" id="times"></span>
    </label>
  </nav>

  <!-- Review Blog using Vue-->
  <main id="reviews" style="text-align: center;">
    <br>
    <br>
    <h1>{{heading}}</h1> <!-- property Heading set in the vue will be displayed here (Community Reviews) -->
    <br>
    <form @submit.prevent="addReview">
      <!-- call the function in vue called addReview when the form is submited-->
      <label for="bookTitle">Book Title</label>
      <input v-model="newBookTitle" type="text" name="bookTitle" id="bookTitle">
      <!-- v-model is used to update the data into the newBookTitle field as the user types into tht input box-->
      <br>
      <br>
      <!--Line breaks for spacing-->
      <label for="bookAuthor">Book Author</label>
      <input v-model="newBookAuthor" type="text" name="bookAuthor" id="bookAuthor">
      <!-- v-model is used for all properties with their respective input fields for two way binding-->
      <br>
      <br>
      <label for="bookRating">Rating (Out of five)</label>
      <input v-model="newBookRating" type="number" name="bookRating" id="bookRating">
      <br>
      <br>
      <label for="reviewerName">Reviewer Name</label>
      <input v-model="newReviewerName" type="text" name="reviewerName" id="reviewerName">
      <br>
      <br>
      <h3>Write your review below</h3>
      <br>
      <textarea v-model="newReviewText" id="reviewText" name="reviewText" rows="4" cols="50"></textarea>
      <!--Text area so users have  adequate space to write their review -->
      <br>
      <br>
      <button type="sumbit" name="button" class="button">ADD</button> <!-- Review Blog using Vue-->
    </form>

    <p v-for="review in reviews" class="reviewCenter">
      <!-- v-for used to transverse the array and every review in the array will be displayed by print out the properties below-->
      <br>
      <b>Book Titile:</b>{{ review.newBookTitle }}
      <br>
      <b>Author:</b>{{ review.newBookAuthor }}
      <br>
      <b>Rating:</b>{{ review.newBookRating}}/5
      <br>
      <b>Reviewd by:</b>{{ review.newReviewerName }}
      <br>
      <br>
      {{ review.newReviewText }}
      <br>
    </p>
    <br>
    <br>
  </main>

  <!-- development version, includes helpful console warnings, Adding Vue JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="reviews.js" charset="utf-8"></script> <!-- linking reviews vue instance -->

  <!--Footer at the end of the webpage, containing site map link-->
  <div class="footer">
    <img src="./images/bookfooter.png" style="height: 100px" width="100%">
    <p>Bookworm © By using this website the user has agreed to all bookworms terms and conditions</p>
    <br>
    <a href="sitemap.html">SITE MAP</a>
    <br>
    <br>
    <p> Contact us </p>
    <p>Tel. No. 1300 975 707</p>
  </div>

</body>

</html>